html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
body {
    background-color: black;
    animation: backgroundChange 10s forwards;
}
@keyframes backgroundChange {
    0% {
        background-color: black;
    }
    100% {
        background-color: white;
    }
}
.container{
  display: inline-block;
}
.typed-out{
  overflow: hidden;
  border-right: .15em solid black;
  white-space: nowrap;
  animation:
    typing 7s forwards;
  font-size: 1.6rem;
  width: 0;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}